{% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen" title="no title">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen" title="no title">
  <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" media="screen" title="no title">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cuprum">
 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pompiere">
  <title>Amabooks</title>
  <style media="screen">
    p{color:white;}
    h2{color:#F4A460;
    }
    #nav-menu{font-size: 20px;}
  </style>
</head>

<body class = "base">
  <nav class="navbar navbar-inverse">
    <div class="container">
       <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
         </button>
         <img src="/static/img/logo.jpg" width="60" height="60" class="d-inline-block align-top" alt="">
         <a class="navbar-brand" href="#">Amabooks</a>
      </div>     
      <div class="collapse navbar-collapse" id="navbar-collapse-3">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#"><span class="glyphicons glyphicons-home" aria-hidden = "true"></span>Home</a></li>
          <li class="active"><a href="#" data-toggle="modal" data-target="#myModal" ><span class="glyphicons glyphicons-group" aria-hidden = "true"></span>Add New Item</a></li>
          <li class="active"><a href="{% url 'register' %}"><span class = "glyphicons glyphicons-user" aria-hidden = "true">Register</a></li>
          <li class="active"><a href="#"><span class="glyphicons glyphicons-log-out" aria-hidden = "true">Log out</a></li>
          <li class="active"><a href="#"><span class="glyphicons glyphicons-log-out" aria-hidden = "true"> Categories</a></li>

          <li class="active">
            <a class="btn btn-default btn-outline btn-circle collapsed"  data-toggle="collapse"
            href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">Search</a>
          </li>
        </ul>
        <div class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse3">
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" />
            </div>
            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search"
              aria-hidden="true"></span></button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>

        <div class="modal-body">
          <!-- Upload Form -->
          <form class="upload_new_item" method="post" id="uploadForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="category">Title</label>
              <input type="text" class="form-control" id="" placeholder="Book title" name="name">
            </div>
            <div class="form-group">
              <label for="task">Preface</label>
              <textarea class="form-control" rows="3" placeholder="Preface" name="preface"></textarea>
            </div>
            <div class="form-group">
              <label for="category">Price(ZMK)</label>
              <input type="number" min="1" step="any" src="" class="form-control" id="categoryName" placeholder="Price" name="price">
            </div>
            <div class="form-group">
              <label for="category">Cover Image</label>
              <input type="image" class="form-control" id="" placeholder="Image" name="picture">
            </div>
            <div class="form-group">
              <label for="category">Author</label>
              <input type="text" class="form-control" id="" placeholder="Author" name="author_id">
            </div>
            <div class="form-group">
              <select class="" name="category_id">
                   {% for cat in categories  %}
                   <option value="{{cat.id}}">{{cat.name}}</option>
                   {% endfor %}
                 </select>
            </div>
          </form>

        </div>
        <div class="modal-footer" ->
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close</button>
          <button type="button" class="btn btn-primary" id="save_button">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  {% block content %} {% endblock content %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 footerleft ">
          <div class="logofooter"> Amabooks </div>
          <p>Amabooks was created by a group of Full Stack Web Developers with a purpose to promote and incourage the production and the sale of published works by local literature publishers, books stores and authors.
          </p>
          <p><i class="fa fa-map-pin"></i>woodlands, 20 Sianjalika Road Woodland Lusaka. </p>
          <p><i class="fa fa-phone"></i> Phone : +26095 4041449</p>
          <p><i class="fa fa-envelope"></i> E-mail : hackersguild.org</p>

        </div>
        <div class="col-md-2 col-sm-6 paddingtop-bottom">
          <h6 class="heading7">LINKS</h6>
          <ul class="footer-ul">
            <li><a href="#"> Career</a></li>
            <li><a href="#"> Privacy Policy</a></li>
            <li><a href="#"> Terms & Conditions</a></li>
            <li><a href="#"> Client Gateway</a></li>

            <li><a href="#"> Case Studies</a></li>
            <li><a href="#"> Frequently Ask Questions</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 paddingtop-bottom">
          <h6 class="heading7">NETWORKING</h6>
          <div class="post">
            <ul class="list-inline">
              <li><a href=""><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
              <li><a href=""> <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
              <li><a href=""> <i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!--footer start from here-->

  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p>© 2016 - All Rights reserved </p>
      </div>
      <div class="col-md-6">
        <ul class="bottom_ul">

          <li><a href="#">About us</a></li>
          <li><a href="#">Blog</a></li>

          <li><a href="#">Contact us</a></li>

        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>

</html>
