{% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen" title="no title">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen" title="no title">
  <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" media="screen" title="no title">
  <title>Amabooks</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="webapp.html"><img src="imgs/logo.png" class="img-responsive"></a>
        <butt on type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
      </div>
      <div id="nav-menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><span class="glyphicons glyphicons-home" aria-hidden = "true"></span>Home</a></li>
          <li><a href="#" data-toggle="modal" data-target="#myModal" ><span class="glyphicons glyphicons-group" aria-hidden = "true"></span>Add New Item</a></li>
     </a></li>
        </ul>
        <form id="search" role="search">
          <div class="input-group navbar-right">
            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input class="form-control" type="text" placeholder="Search...">
            </div>

          </div>

        </form>
      </div>
    </div>
    </div>
  </nav>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>

        <div class="modal-body">
            <!-- Upload Form -->
            <form class="upload_new_item" method="post" >
               {% csrf_token %}
               <div class="form-group">
                 <label for="category">Title</label>
                 <input type="text" class="form-control" id="categoryName" placeholder="Book title" name="name">
             </div>
               <div class="form-group">
                 <label for="task">Preface</label>
                 <textarea class="form-control" rows="3" placeholder=
                 "Preface" name="preface"></textarea>
               </div>
               <div class="form-group">
                 <label for="category">Price(ZMK)</label>
                 <input type="number"  min="1" step="any" src= "" class="form-control" id="categoryName" placeholder="Price" name="name">
               </div>
               <div class="form-group">
                 <label for="category">Cover Image</label>
                 <input type="image" class="form-control" id="categoryName" placeholder="Image" name="name">
               </div>
               <div class="form-group">      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

                 <select class="" name="category">
                   {% for cat in categories  %}
                   <option value="{{cat.id}}">{{cat.name}}</option>
                   {% endfor %}
                 </select>
               </div>
               <div class="form-group">
                 <select class="" name="category">
                   {% for a in author  %}
                   <option value="{{a.id}}">{{a.name}}</option>
                   {% endfor %}
                 </select>
               </div>
               <button type="submit" class="btn btn-default" name="Sign up">Sign Up</button>
            </form>

        </div>
        <div class="modal-footer"->
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close</button>
          <button type="button" class="btn btn-primary" id="save_button">Save Changes</button>
        </div>
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock content %}
  <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> Bookapp</div>
        <p>Bookapp was created by hackers guild interns with a purpose to promote local literature publishers, books stores and authors.
        </p>
        <p><i class="fa fa-map-pin"></i>woodlands, 20 Sianjalika Road Woodland Lusaka. </p>
        <p><i class="fa fa-phone"></i> Phone : +26095 4041449</p>
        <p><i class="fa fa-envelope"></i> E-mail : hackersguild.org</p>

      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Career</a></li>
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Terms & Conditions</a></li>
          <li><a href="#"> Client Gateway</a></li>

          <li><a href="#"> Case Studies</a></li>
          <li><a href="#"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">NETWORKING</h6>
        <div class="post">
          <p><a href="#">twitter</a></p>
          <p><a href="#">github</a></p>
          <p><a href="#">instagram</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.gmail.com/gmail" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.gamil.com/gmail"><a href="https://www.gmail.com/gmail">Gmail</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2016 - All Rights reserved </p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">

        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>

        <li><a href="#">Contact us</a></li>

      </ul>
    </div>
  </div>
</div>


  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>

</html>
