{% extends "bookapp/base.html" %}
{% block content %}
<div class="container" role = "main">
    {% for b in books %}
    <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object"  src="http://placehold.it/125x125" alt="..." class="img-rounded">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{b.name}}</h4>
      <p>{{b.preface}}</p>
      <p>{{b.price}}</p>
      <p>{{b.author_id}}</p>
      <p>{{b.category_id}}</p>
    </div>
    </div>
      <h2></h2>

    {% endfor %}
</div>
{% endblock content %}
